# Dependencies
node_modules

# Build output
dist
dist-ssr

# Env & secrets
.env
.env.local
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini

# Server
server/data/*.db
server/data/*.db-journal
server/data/
